<!DOCTYPE html>
<html>
<head>
    <title>HTM REPORT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="/static/lib/layui-v2.6.3/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/layui-v2.6.3/css/modules/layer/default/layer.css">

    <script type="text/javascript" src="/static/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/layer/layer/layer.js"></script>
    <script type="text/javascript" src="/static/lib/layui-v2.6.3/layui.js"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-upload" style="margin-left: 5px">
            <div id="temperature_picker">Select file(dat、mf4)</div>
            <span style="color: #01aaed">(You can select one file at a time or multiple files at a time)</span>
            <div class="layui-upload-list">
                <table class="layui-table">
                    <colgroup>
                        <col>
                        <col style="width:150px;">
                        <col style="width:260px;">
                        <col style="width:150px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>size</th>
                        <th>Upload Progress</th>
                        <th>operation</th>
                    </tr>
                    </thead>
                    <tbody id="demoList">
                    {% if measurement_file_list is not none and measurement_file_list|length > 0 %}
                    {% for file in measurement_file_list %}
                    <tr>
                        <td>{{ file.file_name }}</td>
                        <td>--</td>
                        <td>--</td>
                        <td>
                            <button class="layui-btn layui-btn-xs layui-btn-danger demo-delete_db"
                                    onclick="delete_file_in_db({{ file.id }})">delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% elif measurement_file_list is none %}
                    <tr>
                        <td colspan="4"><span style="color: red;">database query exception</span></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">There is no documentation yet.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <button type="button" class="layui-btn" id="startUpload">Start uploading</button>
        </div>
    </div>
</div>
</body>
<link rel="stylesheet" type="text/css" href="/static/lib/webuploader/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
<script type="text/javascript" src="/static/lib/webuploader/js/webuploader.min.js"></script>
<script type="text/javascript">
    // 初始化 WebUploader
    let uploader = WebUploader.create({
        auto: false, // 不自动上传

        swf: '../static/swf/Uploader.swf', // swf 文件路径，用于 Flash 模式下运行
        server: '/temperature/upload', // 文件接收服务

        timeout: 300000, // 设置超时时间为300秒

        pick: '#temperature_picker', // 文件选择按钮

        accept: {
            title: 'Files',
            extensions: 'mf4,dat',
            mimeTypes: '.mf4,.dat'
        },

        // 开启分片
        chunked: true,
        chunkSize: 30 * 1024 * 1024,       // 每个分片的大小，默认为20MB。
        chunkRetry: 3,                     //某分片若上传失败，重试次数
        threads: 8,                        //线程数量

        duplicate: true, // 是否检查重复上传
        compress: false, // 不压缩图片

        fileNumLimit: 10, // 最多上传文件数量限制
        fileSizeLimit: 4 * 1024 * 1024 * 1024, // 总文件大小限制
        fileSingleSizeLimit: 2 * 1024 * 1024 * 1024,// 单个文件大小限制

        formData: {
            test_team: "HTM",
            test_scenario: "", // 这里可以根据实际需求动态设置值
            test_area: "",      // 这里可以根据实际需求动态设置值
            task_id: WebUploader.Base.guid() // 区分不同用户
        },
        multiple: true
    });

    // 记录文件总数
    let totalFiles = uploader.getFiles().length;
    // 已经完成上传的文件数
    let completedFiles = 0;

    //开始上传时，调用该方法
    uploader.on('startUpload', function (file) {

    });

    // 当有文件被添加进队列的时候
    uploader.on('fileQueued', function (file) {
        addTableRow(file);
    });

    // 文件上传过程中创建进度条实时显示
    uploader.on('uploadProgress', function (file, percentage) {
        $('#progress-' + file.id).css('width', percentage * 100 + '%');
    });

    // 文件上传成功
    uploader.on('uploadSuccess', function (file, response) {
        // 显示提示信息，不自动关闭
        let layer_index = layer.msg('Upload file successful, Data transition in progress', {time: 0});

        if (response.status == 'success') {
            let ret_data = {
                "test_team": "HTM",
                "test_scenario": "",
                "test_area": "",
                "save_file": response.save_file
            };
            analysis_and_db(ret_data, layer_index);
        } else {
            layer.alert(file.name + ' 保存失败:<br/> ' + response.msg, {icon: 5});
        }
    });

    //上传过程中发生异常，调用该方法
    uploader.on('uploadError', function (file, error) {
        layer.alert(file.name + ' 上传出错:<br/> ' + error, {icon: 5});
    });

    //上传结束，无论文件最终是否上传成功，该方法都会被调用
    uploader.on('uploadComplete', function (file) {
        // 所有文件上传完成后刷新页面
        // location.reload();
    });

    // 添加表格行
    function addTableRow(file) {
        var tr = $('<tr id="' + file.id + '">' +
            '<td>' + file.name + '</td>' +
            '<td>' + WebUploader.formatSize(file.size) + '</td>' +
            '<td><div class="progress"><div class="progress-bar" id="progress-' + file.id + '" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div></div></td>' +
            '<td>' +
            '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">delete</button>' +
            '</td>' +
            '</tr>');

        // 绑定删除事件
        tr.find('.demo-delete').on('click', function () {
            uploader.removeFile(file.id, true);
            tr.remove();
        });

        $('#demoList').append(tr);
    }

    // 测量文件数据入库
    function analysis_and_db(ret_data, layer_index) {
        fetch('/temperature/trans_csv', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ret_data)
        })
            .then(response => response.json())
            .then(data => {
                let intodb_failed = data.generate_report_failed;
                if (intodb_failed.length === 0) {
                    layer.close(layer_index); // 关闭提示框
                    layer.alert("Converted file successfully", {icon: 6});
                } else {
                    layer.close(layer_index);
                    layer.alert(intodb_failed, {icon: 5});
                }
            })
            .catch(error => {
                layer.close(layer_index);
                layer.alert(`Failed to convert file: ${error}`, {icon: 5});
            });
    }

    // 删除文件
    function delete_file_in_db(fileId) {
        if (confirm("Are you sure you want to delete this file?")) {
            let loadingIndex = layer.load(0, {shade: false});

            fetch('/temperature/delete_file', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({id: fileId})
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.success) {
                        location.reload();
                    } else {
                        layer.alert('Failed to delete file:' + data.message, {icon: 5});
                    }
                })
                .catch(error => {
                    layer.close(loadingIndex);
                    layer.alert('An error occurred, please try again:', error);
                });
        }
    }

    // 开始上传所有文件
    $('#startUpload').on('click', function () {
        uploader.upload();
    });
</script>
</html>